@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@500&display=swap');

.loader {
  width: 100px;
  height: 100px;
  margin: auto;
  display: block;
  color: #042541 !important;
}

.home-carousel .dot {
  width: 12px !important;
  height: 12px !important;
  margin: 0 4px !important;
}

.home-carousel .control-dots > .selected {
  width: 26px !important;
  border-radius: 40px !important;
}

.carousel-overlay {
  position: absolute;
  top: 0px;
  left: 0px;
  right: 0px;
  bottom: 0px;
  background: rgb(0 0 0 / 40%);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.css-hip9hq-MuiPaper-root-MuiAppBar-root {
  background-color: #042541 !important ;
}

.css-ueukts-MuiButtonBase-root-MuiToggleButton-root.Mui-selected {
  background-color: #ec2227 !important ;
  color: #ffffff !important;
  border-radius: 50px;
}

.movies-container-title {
  text-align: left;
  font: normal normal medium 28px/23px "Rubik";
  color: #3d3d52;
  opacity: 1;
  font-size: 28px;
  font-weight: 500;
  margin-left: 8px;
  margin-right: 24px;
  margin-bottom: 10px;
}
.slick-prev {
  background-color: #f5f5f5 !important;
  border-radius: 100px !important;
  color: #d1d5dc !important;
  width: 52px !important;
  height: 52px !important;
  left: -25px;
  left: -70px;
}

.slick-prev:before {
  content: "â†";
  color: #d1d5dc !important;
}

.slick-next,
.slick-prev {
  top: 40% !important;
}

.slick-next:focus,
.slick-next:hover,
.slick-prev:focus,
.slick-prev:hover {
  color: #d1d5dc !important;
}

.slick-next {
  right: -70px;
  color: #d1d5dc;
  width: 52px !important;
  height: 52px !important;
  background-color: rgb(245 245 245 / 50%) !important;
  border-radius: 100px !important;
}

.slick-next:before {
  color: #d1d5dc !important;
}

.slick-list {
  left: 0px;
}

.css-1q39md6-MuiButtonBase-root-MuiButton-root {
  text-transform: none !important;
  font-size: 15px !important;
  font-family: "Rubik" !important;
  font-weight: 500 !important;
  margin-right: 30px !important;
  margin-top: 26px !important;
  margin-bottom: 26px !important;
}

.css-1j7dr3e {
  padding-left: 0px !important;
  padding-right: 0px !important;
  margin-top: 0px !important;
  margin-bottom: 0px !important;
  padding-top: 0px !important;
  padding-bottom: 0px !important;
}

.css-1vd4a6l-MuiPaper-root {
  width: 100%;
  max-width: 835px;
}

.css-mhc70k-MuiGrid-root {
  max-width: 1355px !important;
  margin: 0px auto !important;
  padding: 38.5px 5rem 17px 5rem !important;
}

.css-13brihr {
  text-align: left;
  padding-right: 1.4rem;
}

.movie_banner_container {
  max-width: 1355px;
  margin: auto;
  padding: 0px 5rem !important;
}

.css-td9pyg-MuiToolbar-root {
  padding-left: 6.5% !important;
}

.css-1qvppko-MuiToggleButtonGroup-root {
  height: 37px !important;
  background-color: #e3e3e3 !important ;
  outline: none !important;
}

.css-1qvppko-MuiToggleButtonGroup-root
  .MuiToggleButtonGroup-grouped:not(:last-of-type) {
  border-top-right-radius: 50px !important;
  border-bottom-right-radius: 50px !important;
  border: none !important;
  text-transform: none;
  font-size: 18px !important;
  font-family: "Rubik" !important;
  font-weight: 500 !important;
  padding-left: 23px !important;
  padding-right: 23px !important;
  border-radius: 50px;
}

.css-1qvppko-MuiToggleButtonGroup-root
  .MuiToggleButtonGroup-grouped:not(:first-of-type) {
  border-top-left-radius: 50px !important;
  border-bottom-left-radius: 50px !important;
  border: none !important;
  text-transform: none;
  font-size: 18px !important;
  font-family: "Rubik" !important;
  font-weight: 500 !important;
  padding-left: 23px !important;
  padding-right: 23px !important;
  border-radius: 50px;
}

.slick-slide {
  width: auto !important;
}
.css-sra49d {
  margin-top: 38px !important;
  margin-bottom: 40px !important;
}

.slick-track {
  display: flex !important;
}

.movie__banner {
  width: 178px;
  box-shadow: 0px 3px 6px #00000046 !important;
  border-radius: 6px !important;
}

.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-top: 0px !important;
}

.css-mhc70k-MuiGrid-root > .MuiGrid-item {
  padding-left: 0px !important;
}

@media only screen and (max-width: 600px) {
  .carousel-overlay form {
    width: 80%;
  }
  .carousel-overlay form {
    width: 94%;
    margin: auto;
  }
  .css-sra49d {
    margin-left: 1.5rem !important;
  }
  .css-mhc70k-MuiGrid-root {
    padding: 1rem !important;
  }

  .movies-container-title {
    margin: 0px;
  }

  .css-7qx6dt {
    text-align: left;
    padding-left: 3%;
    padding-right: 3%;
  }
  .slick-next {
    display: none !important;
  }
  .css-mhc70k-MuiGrid-root {
    width: 100% !important;
  }
  .movie_banner_container {
    padding: 0px 0rem !important;
  }
  .css-mhc70k-MuiGrid-root {
    padding: 0px !important;
  }

  .css-td9pyg-MuiToolbar-root {
    padding-left: 0% !important;
    padding-right: 0% !important;
  }
}

@media only screen and (max-width: 480px) {
  .movie__banner {
    width: 178px;
  }

  .css-19r6kue-MuiContainer-root {
    padding-left: 0px !important;
  }

  .carousel-overlay {
    position: absolute;
    top: 0px;
    left: 0px;
    right: 0px;
    bottom: -363px;
    background: none;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  .mobile__design__wrap {
    background-color: #042541;
    padding: 1rem;
    width: 95%;
    border-radius: 1rem;
  }

  .footer-container {
    padding: 1rem;
  }

  .movie_banner_container {
    margin-top: 14rem;
  }

  .control-dots {
    display: none;
  }

  .css-13brihr {
    padding-left: 10px;
    padding-right: 0px;
  }

  .carousel-overlay form {
    width: 80%;
  }
  .carousel-overlay form {
    width: 94%;
  }

  .movie-list-header {
    justify-content: center !important;
  }
  .movies-container-title {
    margin-bottom: 0.625rem !important;
  }
}
